@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400;1,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    padding-top: 60px;
}
/* ----------------------------------------Navbar */


 .navbar .navbar-brand {
    color: #556b2f;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 3.5em;
    font-family: Josefin Sans;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo {
    font-size: 35%;
    font-family: Josefin Sans;
    text-transform: none;
    letter-spacing: 0.5px;
    color: #777777;
    line-height: 1px;
}

.navbar .nav-item {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #282338;
    display: flex;
    list-style-type: none;
}

.btn{
color: white;
}

/* ----------------------------------------Special paddings/margins/text */

/*.general-sub {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/* ----------------------------------------Hover */

#navbarNav a:hover {
    border-bottom: 1px solid #556b2f;
}

.nav-link .active {
    border-bottom: 1px solid #282338;
}

/* ----------------------------------------Hero image */
.img .my-home-image {
    max-width: 100%;
    height: auto;
    background-position: cover;
    background-repeat: no-repeat;
}

/* ----------------------------------------Banner */

.jumbotron {
    width: 100%;
    background-color: #282338;
    color: #eee2dc;

}
.jumbotron h1 {
    font-family: Josefin Sans;
    font-style: italic;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}
/* ----------------------------------------Content Home Page */
.index-info {
    display: inline-block;
    text-align: justify;
    font-family: Lato;
    background-color: #eee2dc;
}

h3 {
    text-align: center;
}

.rounded-circle  {
    padding:1px;
   border:4px solid #282338;
   background-color:#fafafa;
border-radius:50%;
 border-style:double;
width:200px;
height:200px;
position: center;

}

/*----------------------------------------Flexbox course-content */
/*.my-flex-container {
border: 2px solid green;
height:  100px;
margin-bottom: 20px;

}

.my-flex-container-column {
border: 2px solid green;
height:  200px;
margin-bottom: 20px;

}

.my-flex-item {
    background-color: lightgray;
    border: 1px dotted grey;
    height: 300px;

}

.my-flex-item-2 {
    background-color: lightgray;
    border: 1px dotted grey;
    height: 96px;
}

.my-courses-container img {
padding-top: 0 ;
padding-left: 20px;
padding-right: 50px;
}
/* ----------------------------------------Gallery */

.my-gallery-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

/* ----------------------------------------Carousal reviews */



/* ----------------------------------------Google Maps */
.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/* ----------------------------------------Crew-cards */

/* ----------------------------------------Footer */
footer {
    background-color: #282338;
    color: #fafafa;
    min-height: 100px;
    margin: 0px;
}

 @media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}
